#label1 .text{
    -fx-effect: dropshadow(one-pass-box , rgb(244, 244, 244), 0, 1 , 0, 1);
}
#label1 {
    -fx-background-color: linear-gradient(
        to bottom, rgb(244, 244, 244), rgb(244, 244, 244));
    -fx-padding: 3px;
    -fx-font-size: 1.0em;
}